.percentages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .slider-container {
    width: 80%;
  }
  
  .slider-container label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .slider-container input {
    width: 100%;
  }
  